 <section class="hero">
    <div class="wrapper">
        <nav>
           <a href=""><img class="logo" src="../../assets/images/logo.png" alt="logo"></a>
           <div class="nav-links">
            <i class="fas fa-times"></i>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
           </div>
        </nav>
        <div class="heading-main">
            <h1>Fresh and Delicious</h1>
            <p>traditional indian food to delight the whole family</p>
        </div>
        <div>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>