* {
    margin: 0;
    padding: 0;

}
.wrapper{
    background-image: linear-gradient(rgba(20, 22, 5, 0.493),rgba(39, 46, 9, 0.288)), url(../../assets/images/bg3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 120px;
    height: 60px;
    padding-top: 10px;
    padding-left: 5px;
}
nav{
    display: flex;
    padding: 2px 6px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.315) ;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;

}
.nav-links ul li a{
    text-decoration: none;
    color:#f2ae30;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f2ae30;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;

}
.nav-links ul li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: orange;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;

}
.nav-links ul li a:hover:before, .nav-links ul li a:hover:after{
    transform: scaleX(1);
}
.heading-main{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    padding-bottom: 100px;
}
.heading-main h1{
    font-family: 'KoHo', sans-serif;
    font-size: 70px;
    padding-right: 400px;
    padding-top: 50px;
}
.heading-main p{
    font-family: 'KoHo', sans-serif;
    font-size: 25px;
    padding-right: 450px;
}
.btn{
    width: 12%;
    padding: 6px;
    text-align: center;
    position: absolute;
    top: 59%;
    right: 73%;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    background: #f2ae30;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
}
.btn:hover{
    box-shadow: inset 300px 0 0 0 white;

}
///////////////////////////////////////////////////////////////////////////////////////////////////
@media(max-width: 700px){
.heading-main h1{
    font-family: 'KoHo', sans-serif;
    font-size: 30px;
    padding-right: 30px;
}
.heading-main p{
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    padding-right: 30px;
}
.logo{
    width: 80px;
    height: 40px;
}
nav{
    background: rgba(0, 0, 0, 0.384);

}
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: white;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
}






















}






    
